<h1>Media</h1>
<div id="border" style="border: 10px solid black;">
  <video width="100%" height="240" controls>
    <source src="../vid/1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video width="100%" height="240" controls>
    <source src="../vid/2.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video width="100%" height="240" controls>
    <source src="../vid/3.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
