<p id="result"></p>
<script>
function getReDateString(){
                        var d = new Date();
                        var datestring = 
                        ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + d.getFullYear() + "\t" + d.getHours() + ":" +
                        d.getMinutes();
                        return datestring;
                    }
function getFirstDate() {
  if (typeof(Storage) !== "undefined") {
    if (localStorage.firstdate) {
      localStorage.firstdate = localStorage.firstdate;
    } else {
      localStorage.firstdate = getReDateString();
    }
    return localStorage.firstdate;
  } else {
    return "Sorry, your browser does not support web storage...";
  }
}
document.getElementById("result").innerHTML = "Erfasste Aktivität am:\t" + getFirstDate();

</script>